<header>
  <h1><span>Florence</span><br><span>Fortress</span></h1>
</header>
<main>
  <div class="social-media">
    <a
      href="https://www.instagram.com/florence_fortress/"
      target="_blank"
      rel="noopener noreferrer"
      class="ig"
    >
      <img src="assets/icons/instagram.svg">
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=100083317307527"
      target="_blank"
      rel="noopener noreferrer"
      class="fb"
    >
      <img src="assets/icons/facebook.svg">
    </a>
  </div>
  <div class="tagline">
    <h4>Creating a safe space for healing</h4>
  </div>
  <app-placard-board>
    <div class="placard">
      <p><button class="join-us">Join us</button> to eradicate mental, sexual, and physical abuse.</p>
    </div>
  </app-placard-board>
</main>