p {
  font-size: 4rem;
  font-weight: 400;
  color: #6b003f;
  background-image: linear-gradient(transparent 10%, rgba(241, 235, 241, 0.2), rgba(255, 194, 194, .2) 90%, transparent);
  text-align: center;
  line-height: 1.7;
}

div.img-container {
  margin-left: 28.9rem;
  margin-bottom: 4.9rem;

  img {
    width: 16.3rem;
    background: #fefefe;
    border-radius: 2rem;
  }
}