div.intro-box {
  background: #E92863;
  background: linear-gradient(
    25deg,
    #e92863,
    transparent 50%,
  ), url(/assets/img/psychotherapy.png);
  background-position: 126% 50%;
  padding-left: 2rem;
  padding-top: 4rem;
  padding-bottom: 1.6rem;

}
h2.intro {
  font-size: 2.5rem;
  background: #F5C2C2;
  width: fit-content;
  border-left: 2rem solid #f9f1f9;
  border-left: 2rem solid #36151E;
  border-left: 2rem solid #593F62;
  padding: 2rem;
}
