<div class="item-container">
  <div class="top-part">
    <div class="img-container">
      <img src="assets/img/og-1.png" alt="therapist">
    </div>
    <div class="person-details">
      <h4>Oghosa Imayuse</h4>
      <ul>
        <li>Depressive Counselling</li>
        <li>Pyscho-social support</li>
        <li>Pyschotherapy</li>
      </ul>

      <a
        href="https://calendly.com/imayuseoghosa1/florence_fortress_therapy"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-text"
      >
        Book a session &UpperRightArrow;
      </a>
    </div>
  </div>
  <hr>
  <p class="info">
    I want to be there for you. <br>
    To help you heal, help you find your confidence
    again. <br><br>
    Oghosa has a B.Sc in Social Sciences, and a Masters
    in View in Mental Healing. She's a certified
    Depression counsellor (Center of Excellence UK)
    and earned Project Manager in Global Health (
      University of Washington, USA
      )
    </p>
</div>
