div.logo {
  text-align: center;
  img {
    width: 8.3rem;
    margin-top: 2rem;
  }
}

aside.sidebar {
  background: rgba(205, 119, 195, 0.1);
  height: 100%;
  border-right: .2rem solid #000;
  position: relative;
}

div.container {
  position: fixed;
  left: 6rem;
  display: flex;
  height: 80%;
  justify-content: space-between;
  flex-direction: column;
}

article {
  margin-top: 8rem;
  font-size: 4rem;
  width: 18rem;
  color: #ed008c;

  p.alternating {
    animation-name: alternating-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
}

@keyframes alternating-text {
  90% {
    display: none;
  }
}